<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Operations</title>
</head>
<body>
    <h1>CRUD Operations</h1>
    <a href="/create">Create User</a><br>
    <a href="/users">View Users</a>
</body>
</html>
